[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "gjam"]
	path = gjam
	url = https://github.com/cran/gjam
[submodule "mastif"]
	path = mastif
	url = https://github.com/cran/mastif
